{% extends "base.html.twig" %}

{% block body %}
    <form method="post">
        <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" name="prenom" value="{{auteur is defined ? auteur.prenom: '' }}" id="prenom" class="form-control">
        </div>

        <div class="form-group">
            <label for="nom">Nom<sup>*</sup></label>
            <input type="text" name="nom" value="{{auteur is defined ? auteur.nom: '' }}" id="nom" class="form-control" required>
        </div> 

        <div class="form-group">
            <label for="bio">Biographie</label>
            <textarea name="bio"  id="bio" class="form-control">{{auteur is defined ? auteur.bio: '' }}</textarea>
        </div>        

        <div class="form-group">
            <label for="naissance">Date de naissance</label>
            <input type="date" name="naissance" value="{{auteur is defined ? auteur.naissance|date("Y-m-d"): '' }}" id="naissance" class="form-control" >
        </div>        

        <div class="d-flex justify-content-between mt-5">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="reset" class="btn btn-warning">Effacer</button>
        </div>
    </form>
{% endblock %}