{% extends "base.html.twig" %}
{% block body %}
    <h2>Bonjour tout le monde</h2>
{% endblock %}

{% block title %}bonjour {% endblock %}

{% block footer %}
    <p> Ceci est le footer du fichier bonjour</p>
{% endblock %}
